body {
    font: 14px / 18px Arial, Helvetica, sans-serif;
    color: #333;
    outline: none;
    overflow: auto;
}

a {
    text-decoration: none;
    color: #288ad6;
}

.row {
    display: flex;
}

/* chia column */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* mobile*/

.container {
    width: 100%;
    max-width: 640px;
    margin: auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}


/* breadcrumb*/

.breadcrumb {
    margin: 0;
}

.breadcrumb-wrapper {
    align-items: center;
    margin-top: 10px;
    overflow-x: auto;
}

.breadcrumb-item {
    vertical-align: top;
    align-items: center;
}

.breadcrumb-item-text {
    color: #4a90e2;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    padding: 0 10px;
}

.breadcrumb-item-text-arrow {
    font-size: 20px;
    color: #999;
    padding: 0 3px 0 0;
    line-height: 0.6;
    height: 16px;
}

/* gallery */
.product-gallery-wrapper {
    position: relative;
}

.fa-youtube-play {
    font-size: 50px;
    color: #D01D22;
    position: absolute;
    top: 95px;
    left: 175px;
}

.product-gallery-view-all {
    gap: 5px;
}

.product-gallery-view-all-text {
    color: #2f80ed;
    line-height: 17px;
    vertical-align: top;
    font-size: 13px;
    margin: 10px 0 0 10px;

}

.product-gallery-view-all-count {
    display: inline-block;
    line-height: 17px;
    vertical-align: top;
    font-size: 13px;
    margin: 10px 0 0 0px;
}

.product-gallery-list-scrolling {
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.gallery-thumbnail-item {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    vertical-align: top;
    width: 52px;
}

.product-gallery-thumbnail-wrapper {
    margin-top: 10px;
    padding: 0 10px;
}

.thumbnail-item-image {
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    justify-content: center;
    min-height: 52px;
    padding: 4px;

}

.thumbnail-item-image:active {
    border-color: #fb6e2e;
}

.thumbnail-item-image i {
    font-size: 29px;
    color: #999;
}

.gallery-thumbnail-item p {
    font-size: 11px;
    white-space: normal;
    margin-top: 3px;
}

.product-name {
    font-weight: 700;
    padding: 10px 10px 4px 10px;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

/* ------ */
.product-rating-wrapper {
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.product-star-rating {
    align-items: center;
}

.fa-star {
    color: #fc8249;
}

.product-rating-count {
    margin: 2px 0 0 3px;
    font-size: 13px;

}

.product-compare {
    font-size: 12px;
    padding-right: 5px;
    cursor: pointer;
}

.product-compare i {
    color: #288ad6;
}

/* -------- */
.product-memory {
    margin-top: 10px;
    padding: 0 10px;
}

.product-memory-wrapper {
    gap: 5px;
}

.product-memory-item {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    font-size: 13px;
    min-width: 67px;
    padding: 0 15px;
    text-align: center;
    margin-right: 3px;
    vertical-align: top;
    height: 32px;
    line-height: 32px;
}

.product-memory-item:active {
    border-color: #2f80ed;
    color: #2f80ed;
}

/* ------------- */
.product-color {
    margin-top: 10px;
    padding: 0 10px;
}

.product-color-wrapper {
    gap: 5px;
    overflow-y: hidden;
    overflow-x: auto;
}

.product-color-item {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    font-size: 13px;
    min-width: 67px;
    padding: 0 15px;
    text-align: center;
    margin-right: 3px;
    vertical-align: top;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
}

.product-color-item p {
    white-space: nowrap;
}

.product-color-item:active {
    border-color: #2f80ed;
    color: #2f80ed;
}

/* -------- */
.price-place {
    margin-top: 10px;
    padding: 0 10px;
}

.price-place-wrapper {
    margin-top: 10px;
    padding: 0 10px;
    gap: 4px;
    line-height: 16px;
    position: relative;
}

.price-place-wrapper a::after {
    content: " ";
    border-bottom: 1px solid #2f80ed;
    border-right: 1px solid #2f80ed;
    height: 8px;
    width: 8px;
    position: absolute;
    transform: rotate(45deg);
    top: 3px;
    right: 215px;
}

/* ------------------------ */
.box-saving {
    position: relative;
    margin-top: 10px;
    background-color: #e2252d;
}

.box-saving-wrapper {
    background: linear-gradient(272.75deg, #f38c25 38.99%, #fb6848 76.29%);
    padding-bottom: 1px;
}

.title-price-wrapper {
    padding: 10px;
    border-radius: 4px 4px 0 0;
}

.title-price-wrapper-item {
    position: relative;
}

.title-price {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.title-price-image {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 50%;
    height: 100%;
}

.title-price-item {
    width: 50%;
}

.timer-deal-item {
    position: relative;
    color: #fff;
    width: 50%;
    text-align: right;
    z-index: 2;
}

.title-price-item-text {
    color: #fff;
    font-size: 16px;
}

.product-price-telephone {
    color: #fff;
    font-size: 24px;
    margin-top: 7px;
    font-weight: 700;
}

.discount-price-item {
    margin-top: 7px;
    gap: 4px;
}

.product-price-telephone-old {
    text-decoration-line: line-through;
    color: #fff;
}

.discount-price {
    color: #fff;
}

.timer-deal-item-item {
    margin-top: 5px;
}

.timer-deal-item-item span {
    font-weight: 700;
}

/* ----- */
.box-saving-content {
    background-color: #fff;
    margin: 0 5px 5px 5px;
    border-radius: 4px;
    padding: 10px 0;
}

.box-saving-content-wrapper {
    border-bottom: 1px dashed #f2994a;
    padding: 0 7px 10px 7px;
    margin-bottom: 10px;
}

.sale-promotion-text {
    margin-top: 3px;
    color: #666;
    font-size: 12px;
    line-height: 1.4;
}

/* ------------------------------ */
.giveaway {
    margin-top: 10px;
    padding: 0 0 7px 0;
}

.giveaway-item {
    margin-bottom: 7px;
    gap: 15px;
}

.giveaway-count-wrapper {
    background-color: #4a90e2;
    border-radius: 50%;
    height: 16px;
    margin-top: 2px;
}

.giveaway-count {
    color: #fff;
    font-size: 11px;
    text-align: center;
    line-height: 16px;
    width: 16px;

}

.giveaway-item-content p {
    line-height: 1.5;
}

/* -------------- */

.loyalty {
    border-bottom: 1px dashed #f2994a;
    margin-bottom: 10px;
    padding: 0 0 10px 5px;
}

.loyalty-wrapper {
    gap: 7px;
    align-items: center;
    padding: 5px;
    background-color: #fffbe5;
    border-radius: 100px;
    width: fit-content;

}

.loyalty-icon {
    width: 24px;
    height: 24px;
}

.loyalty-item {
    width: 20px;
    height: 20px;
}

/* ---------------- */
.rule-content {
    padding: 0 7px;
    margin-bottom: 10px;
}

.rule-content-item-text li::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #e0e0e0;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 0;


}

.rule-content-item-text li {
    margin-bottom: 2px;
    line-height: 1.6;
    padding-left: 12px;
    position: relative;
}

/* -------------- */
.delivery {
    margin-bottom: 5px;
    padding: 0 10px;
}

.delivery i {
    font-size: 16px;
    color: #63A0F1;
}

.block-button-twoprice {
    padding: 0 10px;
}

.banner-sale {
    background-color: #d0021c;
    border-radius: 4px;
    padding: 6px 10px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    margin-top: 10px;
}

.banner-sale p {
    font-weight: 700;
    color: #fff;
    font-size: 15px;
}

.purchasing-method {
    gap: 10px;
}

.purchasing-method-item {
    background-color: #2f80ed;
    color: #fff;
    border-radius: 4px;
    padding: 7px 5px;
    text-align: center;
    width: 50%;
}

.purchasing-method-item p {
    line-height: 16px;
    font-size: 13px;
}

.purchasing-method-item span {
    font-size: 11px;
}

.hotline {
    margin-top: 10px;
    text-align: center;
    gap: 5px;
    justify-content: center;
}

.hotline p,
span {
    line-height: 17px;
}

/* ------------------- */
.bias-store {
    margin: 10px 10px 0;
    padding: 10px;
    border-radius: 4px;
    background-color: #f6f6f6;
    justify-content: space-between;
    /* nhớ mốt xóa cái dưới */
    margin-bottom: 50px;
}

.loyalty-store-wrapper {
    margin-right: 20px;
}

.download-item {
    width: 124px;
    justify-content: center;
}

.download-appstore {
    margin-top: 9px;
}

.loyalty-store {
    align-items: center;
    gap: 5px;
}

.loyalty-store img {
    width: 28px;
    height: 28px;
}

.loyalty-store span {
    font-size: 16px;
    margin-left: 5px;
    line-height: 20px;
    color: #333;
}

.loyalty-store-text {
    margin-top: 5px;
    line-height: 17px;
    color: #333;
}

.group-name {
    font-style: italic;
    font-size: 11px;
    margin-top: 5px;
    line-height: 13px;
    color: #666;
}



/* Responsive tablet and pc*/
@media screen and (min-width: 768px) {

    /* column */
    .md-col-1 {
        width: 8.33%;
    }

    .md-col-2 {
        width: 16.66%;
    }

    .md-col-3 {
        width: 25%;
    }

    .md-col-4 {
        width: 33.33%;
    }

    .md-col-5 {
        width: 41.66%;
    }

    .md-col-6 {
        width: 50%;
    }

    .md-col-7 {
        width: 58.33%;
    }

    .md-col-8 {
        width: 66.66%;
    }

    .md-col-9 {
        width: 75%;
    }

    .md-col-10 {
        width: 83.33%;
    }

    .md-col-11 {
        width: 91.66%;
    }

    .md-col-12 {
        width: 100%;
    }


    .container {
        width: 90%;
        max-width: 1200px;
        margin: auto;
    }

    .row-product-info {
        display: flex;
    }

    .row-product {
        display: flex;
        flex-direction: column;
        padding-right: 30px;
    }

    .row-product-name {
        display: flex;
    }

    /* breadcrumb*/
    .breadcrumb-wrapper {
        margin: 0;
    }


    .breadcrumb-item {
        align-items: center;
    }

    .breadcrumb-item-text {
        color: #4a90e2;
        white-space: nowrap;
        font-size: 14px;
        padding: 0 10px 0 0;
    }

    .breadcrumb-item-text-arrow {
        font-size: 20px;
        color: #999;
        padding: 2px 5px 0 0;
        height: 16px;
        vertical-align: middle;
        line-height: 8px;
    }

    /* gallery */
    .product-info {
        border-top: 1px solid #e0e0e0;
        margin-top: 15px;
        padding-top: 15px;

    }

    .product-gallery-wrapper {
        position: relative;
    }

    .product-gallery-wrapper i {
        font-size: 50px;
        color: #D01D22;
        position: absolute;
        top: 140px;
        left: 267px;
    }

    .product-gallery-view-all {
        margin: 10px 0 15px;
        justify-content: center;
    }

    .product-gallery-view-all-text {
        color: #2f80ed;
        line-height: 17px;
        vertical-align: top;
        font-size: 14px;
        margin: 0 10px 0 0;
    }

    .product-gallery-view-all-count {
        display: inline-block;
        line-height: 17px;
        vertical-align: top;
        font-size: 14px;
        margin: 0 0 0 5px;
    }

    .product-gallery-list-scrolling {
        margin-top: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallery-thumbnail-item {
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        vertical-align: top;
        width: 55px;
        cursor: pointer;
    }

    .thumbnail-item-image {
        align-items: center;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        justify-content: center;
        min-height: 55px;
        padding: 4px;

    }

    .thumbnail-item-image:active {
        border-color: #fb6e2e;
    }

    .thumbnail-item-image i {
        font-size: 29px;
        color: #999;
    }


    .gallery-thumbnail-item p {
        font-size: 12px;
        white-space: normal;
        margin-top: 5px;
    }

    /* ------- */
    .product-name-wrapper {
        margin-top: 10px;
        gap: 5px;

    }

    .product-name {
        font-weight: 700;
        font-size: 18px;
        padding: 0;
    }

    /* ------ */
    .product-rating-wrapper {
        align-items: center;
        padding: 0 10px;
        gap: 10px;
    }

    .product-star-rating {
        align-items: center;
    }

    .fa-star {
        color: #fc8249;
    }

    .product-rating-count a {
        padding-left: 3px;
        line-height: 18px;
        font-size: 13px;

    }

    .product-compare {
        font-size: 13px;
        cursor: pointer;
        vertical-align: bottom;
    }

    .product-compare i {
        color: #288ad6;
        font-size: 15px;
    }

    /* -------- */

    .product-memory{
        padding: 0;
    }
    .product-memory-wrapper {
        gap: 5px;
    }

    .product-memory-item {
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        font-size: 13px;
        min-width: 67px;
        padding: 0 15px;
        text-align: center;
        margin: 0 2px 5px 0;
        vertical-align: top;
        height: 32px;
        line-height: 32px;
    }

    .product-memory-item:active {
        border-color: #2f80ed;
        color: #2f80ed;
    }

    /* ------------- */
    .product-color {
        margin-top: 10px;
        padding: 0;
    }

    .product-color-wrapper {
        gap: 5px;
    }

    .product-color-item {
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        font-size: 13px;
        min-width: 67px;
        padding: 0 15px;
        text-align: center;
        margin-right: 3px;
        vertical-align: top;
        height: 32px;
        line-height: 32px;
        cursor: pointer;
    }

    .product-color-item p {
        white-space: nowrap;
    }

    .product-color-item:active {
        border-color: #2f80ed;
        color: #2f80ed;
    }

    /* -------- */
    .price-place {
        margin-top: 10px;
        padding: 0;
    }

    .price-place-wrapper {
        margin-top: 10px;
        gap: 4px;
        line-height: 16px;
        position: relative;
        padding: 0;
    }

    .price-place-wrapper a::after {
        content: " ";
        border-bottom: 1px solid #2f80ed;
        border-right: 1px solid #2f80ed;
        height: 8px;
        width: 8px;
        position: absolute;
        transform: rotate(45deg);
        top: 2.5px;
        right: 175px;
    }

    /* ------------------------ */
    .box-saving {
        /* margin: 0 10px 10px; */
        position: relative;
        margin-top: 10px;
        background-color: #e2252d;
        border-radius: 10px;
    }

    .box-saving-wrapper {
        background: linear-gradient(272.75deg, #f38c25 38.99%, #fb6848 76.29%);
        padding-bottom: 1px;
        border-radius: 10px;
    }

    .title-price-wrapper {
        padding: 10px;
        border-radius: 4px 4px 0 0;
    }

    .title-price-wrapper-item {
        position: relative;
    }

    .title-price {
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 10px 10px 0 0;
    }

    .title-price-image {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        border-top-right-radius: 10px;
    }

    .title-price-item {
        width: 50%;
    }

    .timer-deal-item {
        position: relative;
        color: #fff;
        width: 50%;
        text-align: right;
        z-index: 2;
    }

    .title-price-item-text {
        color: #fff;
        font-size: 16px;
    }

    .product-price-telephone {
        color: #fff;
        font-size: 24px;
        margin-top: 7px;
        font-weight: 700;
    }

    .discount-price-item {
        margin-top: 7px;
        gap: 4px;
    }

    .product-price-telephone-old {
        text-decoration-line: line-through;
        color: #fff;
    }

    .discount-price {
        color: #fff;
    }

    .timer-deal-item-item {
        margin-top: 5px;
    }

    .timer-deal-item-item span {
        font-weight: 700;
    }

    /* ----- */
    .box-saving-content {
        background-color: #fff;
        margin: 0 5px 5px 5px;
        border-radius: 4px;
        padding: 10px 0;
    }

    .box-saving-content-wrapper {
        border-bottom: 1px dashed #f2994a;
        padding: 0 7px 10px 7px;
        margin-bottom: 10px;
    }

    .sale-promotion-text {
        margin-top: 3px;
        color: #666;
        font-size: 12px;
        line-height: 1.4;
    }

    /* ------------------------------ */
    .giveaway {
        margin-top: 10px;
        padding: 0 0 7px 0;
    }

    .giveaway-item {
        margin-bottom: 7px;
        gap: 15px;
    }

    .giveaway-count-wrapper {
        background-color: #4a90e2;
        border-radius: 50%;
        height: 16px;
        margin-top: 2px;
    }

    .giveaway-count {
        color: #fff;
        font-size: 11px;
        text-align: center;
        line-height: 16px;
        width: 16px;

    }

    .giveaway-item-content p {
        line-height: 1.5;
    }

    /* -------------- */

    .loyalty {
        border-bottom: 1px dashed #f2994a;
        margin-bottom: 10px;
        padding: 0 0 10px 5px;
    }

    .loyalty-wrapper {
        gap: 7px;
        align-items: center;
        padding: 5px;
        background-color: #fffbe5;
        border-radius: 100px;
        width: fit-content;

    }

    .loyalty-icon {
        width: 24px;
        height: 24px;
    }

    .loyalty-item {
        width: 20px;
        height: 20px;
    }

    /* ---------------- */
    .rule-content {
        padding: 0 7px;
        margin-bottom: 10px;
    }

    .rule-content-item-text li::before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #e0e0e0;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 0;


    }

    .rule-content-item li {
        margin-bottom: 2px;
        line-height: 1.6;
        padding-left: 12px;
        position: relative;
    }

    /* -------------- */
    .delivery {
        margin-bottom: 5px;
        padding: 0 10px;
    }

    .delivery i {
        font-size: 16px;
        color: #63A0F1;
    }

    .block-button-twoprice {
        padding: 0 10px;
    }

    .banner-sale {
        background-color: #d0021c;
        border-radius: 4px;
        padding: 6px 10px;
        margin-bottom: 8px;
        align-items: center;
        justify-content: center;
        min-height: 48px;
        margin-top: 10px;
    }

    .banner-sale p {
        font-weight: 700;
        color: #fff;
        font-size: 15px;
    }

    .purchasing-method {
        gap: 10px;
    }

    .purchasing-method-item {
        background-color: #2f80ed;
        color: #fff;
        border-radius: 4px;
        padding: 7px 5px;
        text-align: center;
        width: 50%;
    }

    .purchasing-method-item p {
        line-height: 16px;
        font-size: 13px;
    }

    .purchasing-method-item span {
        font-size: 11px;
    }

    .hotline {
        margin-top: 10px;
        text-align: center;
        gap: 5px;
        justify-content: center;
    }

    .hotline p,
    span {
        line-height: 17px;
    }

    /* ------------------- */
    .bias-store {
        margin: 10px 10px 0px 10px;
        padding: 10px;
        border-radius: 4px;
        background-color: #f6f6f6;
        justify-content: space-between;
        /* nhớ mốt xóa cái dưới */
        margin-bottom: 50px;
    }

    .loyalty-store-wrapper {
        margin-right: 20px;
    }

    .download-item {
        width: 124px;
        justify-content: center;
    }

    .download-appstore {
        margin-top: 9px;
    }

    .loyalty-store {
        align-items: center;
        gap: 5px;
    }

    .loyalty-store img {
        width: 28px;
        height: 28px;
    }

    .loyalty-store span {
        font-size: 16px;
        margin-left: 5px;
        line-height: 20px;
        color: #333;
    }

    .loyalty-store-text {
        margin-top: 5px;
        line-height: 17px;
        color: #333;
    }

    .group-name {
        font-style: italic;
        font-size: 11px;
        margin-top: 5px;
        line-height: 13px;
        color: #666;
    }
}